*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;

}

/* Navbar ul */
ul{
    text-decoration: none;
}


/* logo of Navbar */
#logo{
    width: 1;
}

/* list of Navbar */
li{
    display: inline-block;
    
    margin-left: 20px;
    font-size: 17px;
    color: rgb(29, 29, 31);
    font-weight: bold;
    cursor: pointer;
    font-weight: 200;
    padding: 10px;
    padding-right: 20px;
    margin-bottom: 30px;
    
    
}

#navbar{
    background-color: #f9f8fd;
    width: 100%;
    text-align: center;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    
        
}


#Macbook{
    
    text-align: center;
    font-size: 50px;
        
}

/* box1 */
#box{
    background-position: center;
    background-image: url(./Assests/macbook.jpg);
    min-height: 900px;
    width: 100%;
    background-color: red;
    margin-bottom: 30px;


}

/* box1 */
#Big, #M1{  
    flex-direction: column;
    text-align: center;
    font-size: 30px;
    
    text-decoration: none;
}
/* box1 */
#LearnMore{
    
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    list-style: none;
}

/* Box 2 */
#MacIpad{
    background-position: center;
    background-image: url(./Assests/hero.jpg);
    min-height: 900px;
    width: 100%;
    background-color: red;
    margin-bottom: 20px;

}
/* Box2 */
#College, #gift{  
    flex-direction: column;
    text-align: center;
    font-size: 30px;
    
    text-decoration: none;
}
/* Box2 */
#shopnow{
    
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    list-style: none;
}




/* Box 3 */
#iphone14pro{
    background-position: center;
    background-image: url(./Assests/hero_iphone14pro_spring__9xo85pm6sbmm_mediumtall_2x.jpg);
    min-height: 900px;
    width: 100%;
    background-color: red;
    margin-bottom: 30px;

}
/* Box3 */
#pro, #Probeyond #iphone{  
    flex-direction: column;
    text-align: center;
    font-size: 30px;
    color: white;
    text-decoration: none;
}
/* Box3 */
#Learnnbuy{
    
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    list-style: none;
}



/* Box 4 */
#Wonderfull{
    display: inline-block;
    background-position: center;
    background-image: url(./Assests/promo.jpg);
    min-height: 900px;
    width: 49%;
    
    margin: 10px 10px;

}
/* Box4 */
#full, #wonder #iphone14{  
    
    flex-direction: column;
    text-align: center;
    font-size: 30px;
    color: rgb(15, 15, 15);
    text-decoration: none;
}
/* Box4 */
#LBuys{
    
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    list-style: none;
}






/* Box 5 *********** */
#Visionpro{

    display: inline-block;
    float: left;
    background-position: center;
    background-image: url(./Assests/promo1.jpg);
    min-height: 900px;
    width: 49%;

    margin: 10px 10px;
    

}


/* Box5 */
#era, #Visionpro1, #era1, #wonderz{  
    
    
    text-align: center;
    font-size: 30px;
    color: rgb(15, 15, 15);
    text-decoration: none;
}
/* Box5 */
#LBuys{
    
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    list-style: none;
}




/* Box 6 *********** */
#Watchseries8{

    display: inline-block;
    float: left;
    background-position: center;
    background-image: url(./Assests/pp8.jpg);
    min-height: 900px;
    width: 49%;
    
    margin: 10px 10px;
   
    
    

}


/* Box6 */
#series8, #healthy{  
    
    
    text-align: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
/* Box6 */
#buynow{
    
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    list-style: none;
}
 /* 6 end */


/* Box 7 *********** */
#ipadpro{
    
    display: inline-block;
    float: left;
    background-position: center;
    background-image: url(./Assests/p1.jpg);
    min-height: 900px;
    width: 49%;
    
    margin: 10px 10px;
    

}


/* Box7 */
#supercharged, #ipad1, #superchargedby{  
    
    
    text-align: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
/* Box7 */
#lnm{
    
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    list-style: none;
}
 
/* 7 end */

/* Box8 @@@ @@@ @@  */
#TradeIn{
    
    display: inline-block;
    float: left;
    background-position: center;
    background-image: url(./Assests/iphneazz.jpg);
    min-height: 900px;
    width: 49%;
    
    margin: 10px 10px;
    

}


/* Box8 */
#Upgrade, #saveit, #deviceworth{  
    
    
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
/* Box8 */
#yourdevice{
   
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    list-style: none;
}



/* Box9 @@@ @@@ @@  */
#Icard{
    
    display: inline-block;
    float: left;
    background-position: center;
    background-image: url(./Assests/card.JPG);
    min-height: 900px;
    width: 49%;
    
    margin: 10px 10px;
    

}


/* Box9 */
#cashback, #getup, #everypurchase{  
    
    
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
/* Box9 */
#yourdevice{
   
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    list-style: none;
}




/*  Footer text *************** */
#footer-1{
    

    background-color: #f5f5f7;
    text-size-adjust: center;
    text-align: left;
    font-size: 15px;
   
    

}

.footer1 span{
    max-width: 500px;
    




}


/* Bottom Footer *************** */
.footer{
          
    max-height: 900px;
    display: flex;  
    flex-wrap: wrap;          
    align-items: baseline;       
    background-color: #f5f5f7;
     
       
    }


   



.footer-content h4{
    
    
}

.footer-content li{
    display: flex;
    flex-wrap: wrap;
    
   
    
    
}

.footer-content {
    
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    

    
    font-size: 20px;
    font-weight: 400;
    transition: all .40s ease;
    text-decoration: none;

   

}

.footer-content li a{
    
    text-decoration: none;
    color: black;
 
    font-size: 20px;
    font-weight: 400;
    transition: all .40s ease;


}



.footer-content li a:hover{
    translate: translatey(-3px);
    translate: translatex(-5px);
    

}

